body
{
	font-family: Verdana, sans-serif;
}
	#people-in-need
	{
		float: left;
	}
	
	.non-graph-area
	{
		background-color: #ddd;
		font-family: sans-serif;
		font-weight: bold;
		height: 165px;
		text-align: center;
		color: #333333;
	}
	
	.non-graph-area p{ margin: 0 }
	.non-graph-area p.hero-item
	{
		font-size: 62px;
		padding-top: 22px;
		text-transform: uppercase;
	}
	.non-graph-area p.sub-item
	{
		font-size: 12px;
		padding-top: 5px;
		font-weight: normal;
	}
	
	#internally-displaced, #people-reached
	{
		float: left; 
		margin-left: 10px;
	}
	
	#people-in-need, #internally-displaced, #people-reached
	{
		width: 176px;
		height: 240px;
	}
	h1
	{
		font-family: sans-serif;
		color: #016BB5;
		margin: 0;
		padding: 0;
		font-size: 24px;
	}
	.title-area
	{
		position: relative;
		background: #EEEEEE;
		padding: 5px;
		height: 55px;
	}
	.title-area img 
	{
		width: 45px;
	}
	h3
	{
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		letter-spacing: .01;
		font-size: 11px;
		color: #333;
	}
	.section-icon
	{
		position: absolute;
		top:5px;
		right: 5px;
	}